In [1]:
import pandas as pd
from pyspark import SparkContext
from pyspark.sql import SparkSession
from pyspark.sql import functions as F

In [2]:
try:
    sc = SparkContext('local', 'Pyspark demo')
except ValueError:
    print('SparkContext already exists!')

try:
    spark = SparkSession.builder.appName('Recommendation_system').getOrCreate()
except ValueError:
    print('SparkSession already exists!')

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/usr/local/spark/jars/spark-unsafe_2.12-3.2.1.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/02/12 22:25:09 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
path = '../resources/dataset_credit_risk.csv'
with open(path) as f:
    data = f.readlines()
data.__len__()

777716

In [4]:
import sys, math
n_slices = math.ceil(sys.getsizeof(data) / 81920)
n_slices

80

In [5]:
spark_df = spark.read.csv(sc.parallelize(data, numSlices=n_slices), header=True)

22/02/12 22:25:37 WARN TaskSetManager: Stage 0 contains a task of very large size (1689 KiB). The maximum recommended task size is 1000 KiB.
22/02/12 22:25:39 WARN TaskSetManager: Stage 1 contains a task of very large size (1689 KiB). The maximum recommended task size is 1000 KiB.

+-------+-------+-----------+------------+---------------+------------+----------------+--------------------+--------------------+--------------------+-----------------+----------+-------------+----------+---------------+----------+----------+--------------------+---------------+------+----------+--------------+----------+------------------+
|loan_id|     id|code_gender|flag_own_car|flag_own_realty|cnt_children|amt_income_total|    name_income_type| name_education_type|  name_family_status|name_housing_type|days_birth|days_employed|flag_mobil|flag_work_phone|flag_phone|flag_email|     occupation_type|cnt_fam_members|status|  birthday|job_start_date| loan_date|       loan_amount|
+-------+-------+-----------+------------+---------------+------------+----------------+--------------------+--------------------+--------------------+-----------------+----------+-------------+----------+---------------+----------+----------+--------------------+---------------+------+----------+--------------+----------+------------------+
| 208089|5044500|          F|           N|              Y|           0|         45000.0|           Pensioner|Secondary / secon...|               Widow|House / apartment|    -24151|       365243|         1|              0|         0|         0|                null|            1.0|     0|1955-08-04|    3021-09-18|2019-01-01|  133.714973572794|
| 112797|5026631|          F|           N|              Y|           0|         99000.0|             Working|Secondary / secon...|           Separated|House / apartment|    -18068|        -8870|         1|              0|         0|         0|      Medicine staff|            1.0|     0|1972-03-30|    1997-06-05|2019-01-01|158.80055787554005|
| 162434|5036645|          M|           Y|              N|           0|        202500.0|             Working|   Incomplete higher|             Married|     With parents|    -12596|        -2399|         1|              0|         0|         0|             Drivers|            2.0|     0|1987-03-24|    2015-02-22|2019-01-01|203.60848690335118|
| 144343|5033584|          F|           N|              Y|           0|        292500.0|             Working|    Higher education|             Married|House / apartment|    -17718|        -4463|         1|              0|         0|         0|                null|            2.0|     0|1973-03-15|    2009-06-29|2019-01-01|113.20496431707618|
| 409695|5085755|          F|           Y|              Y|           1|        112500.0|Commercial associate|Secondary / secon...|      Civil marriage|House / apartment|    -11660|         -807|         1|              0|         0|         0|          Core staff|            3.0|     0|1989-10-15|    2019-07-03|2019-01-01| 109.3762599318495|
| 209703|5044911|          F|           N|              Y|           0|        225000.0|             Working|   Incomplete higher|Single / not married|House / apartment|    -14030|        -2075|         1|              0|         0|         0|                null|            1.0|     0|1983-04-20|    2016-01-12|2019-01-01|151.61106558834447|
| 581514|5113934|          F|           Y|              N|           0|         45000.0|             Working|Secondary / secon...|             Married|House / apartment|    -17370|        -8443|         1|              1|         1|         0|                null|            2.0|     0|1974-02-26|    1998-08-06|2019-01-01|100.51565261627002|
| 495988|5095803|          M|           Y|              N|           1|        252000.0|       State servant|    Higher education|             Married|House / apartment|    -12483|        -1650|         1|              1|         1|         0|High skill tech s...|            3.0|     0|1987-07-15|    2017-03-12|2019-01-01|133.44373968615446|
| 154781|5035419|          F|           N|              Y|           0|        292500.0|             Working|    Higher education|             Married|House / apartment|    -21111|        -4816|         1|              0|         0|         0|          Core staff|            2.0|     0|1963-11-30|    2008-07-11|2019-01-01|100.82986755739937|
| 441278|5089988|          F|           N|              Y|           0|        180000.0|           Pensioner|Secondary / secon...|             Married|House / apartment|    -23770|       365243|         1|              0|         0|         0|                null|            2.0|     0|1956-08-19|    3021-09-18|2019-01-01| 190.6895747544295|
| 700843|5139911|          F|           Y|              N|           1|        166500.0|       State servant|    Higher education|             Married|House / apartment|    -14489|        -5819|         1|              0|         0|         0|      Medicine staff|            3.0|     0|1982-01-16|    2005-10-12|2019-01-01|132.09583624715106|
| 673365|5132977|          F|           N|              Y|           2|        112500.0|             Working|Secondary / secon...|             Married|House / apartment|    -14608|        -1261|         1|              1|         0|         0|         Sales staff|            4.0|     0|1981-09-19|    2018-04-05|2019-01-01| 171.9620261563337|
| 431309|5090661|          F|           Y|              N|           0|        112500.0|       State servant|Secondary / secon...|             Married|House / apartment|    -21842|        -3869|         1|              0|         0|         0|High skill tech s...|            2.0|     0|1961-11-29|    2011-02-13|2019-01-01| 100.2633871648364|
| 358618|5067050|          F|           Y|              Y|           2|         72000.0|             Working|Secondary / secon...|             Married|House / apartment|    -10753|        -3809|         1|              0|         0|         0|            Laborers|            4.0|     0|1992-04-09|    2011-04-14|2019-01-01|124.91003447969217|
| 588427|5114422|          M|           N|              N|           0|        157500.0|       State servant|    Higher education|             Married|House / apartment|    -11965|        -3876|         1|              0|         0|         0|          Core staff|            2.0|     0|1988-12-14|    2011-02-06|2019-01-01| 168.5770891222461|
| 315876|5061587|          F|           N|              Y|           0|        135000.0|           Pensioner|Secondary / secon...|               Widow|House / apartment|    -22870|       365243|         1|              0|         0|         1|                null|            1.0|     0|1959-02-05|    3021-09-18|2019-01-01|123.16577379043491|
| 172382|5150481|          F|           Y|              Y|           1|        157500.0|             Working|Secondary / secon...|             Married|House / apartment|    -10808|        -1739|         1|              0|         0|         0|          Core staff|            3.0|     0|1992-02-14|    2016-12-13|2019-01-01|105.13655589302937|
| 778038|5143573|          M|           Y|              N|           0|        157500.0|             Working|   Incomplete higher|             Married|     With parents|     -9124|         -960|         1|              1|         0|         0|             Drivers|            2.0|     0|1996-09-24|    2019-01-31|2019-01-01|143.25879433785838|
| 596528|5115656|          F|           Y|              N|           0|        270000.0|Commercial associate|Secondary / secon...|             Married|House / apartment|    -14775|         -498|         1|              0|         0|         0|            Managers|            2.0|     0|1981-04-05|    2020-05-07|2019-01-01| 111.6139874958412|
| 293347|5054683|          M|           N|              Y|           0|        225000.0|Commercial associate|    Higher education|Single / not married|House / apartment|    -10182|        -2403|         1|              0|         0|         0|         Sales staff|            1.0|     0|1993-11-01|    2015-02-18|2019-01-01|119.63478708274205|
+-------+-------+-----------+------------+---------------+------------+----------------+--------------------+--------------------+--------------------+-----------------+----------+-------------+----------+---------------+----------+----------+--------------------+---------------+------+----------+--------------+----------+------------------+
only showing top 20 rows

In [ ]:
spark_df = spark_df.drop(
 'loan_id',
 'code_gender',
 'flag_own_realty',
 'cnt_children',
 'amt_income_total',
 'name_income_type',
 'name_education_type',
 'name_family_status',
 'name_housing_type',
 'days_birth',
 'days_employed',
 'flag_mobil',
 'flag_work_phone',
 'flag_phone',
 'flag_email',
 'occupation_type',
 'cnt_fam_members',
 'status')

**Feature nb_previous_loans**

In [7]:
from pyspark.sql.window import Window

window_spec  = Window.partitionBy("id").orderBy("loan_date")
spark_df = spark_df.withColumn("nb_previous_loans",F.row_number().over(window_spec))
spark_df = spark_df.withColumn('nb_previous_loans', F.col('nb_previous_loans')-1)

**Feature avg_amount_loans_previous**

In [15]:
%%time
# compute every element of a group by clause and later return the mean value iterate of each row increasing the elements 
# calculated on the mean by one row in each iteration
#window = Window.orderBy("id").rowsBetween(Window.unboundedPreceding, Window.currentRow)
window = Window.orderBy("id").partitionBy("id").rowsBetween(Window.unboundedPreceding, -1)
spark_df = spark_df.withColumn("avg_amount_loans_previous", F.mean('loan_amount').over(window))

22/02/12 22:34:59 WARN TaskSetManager: Stage 29 contains a task of very large size (1689 KiB). The maximum recommended task size is 1000 KiB.

+-------+------------+----------+--------------+----------+------------------+-----------------+-------------------------+---+
|     id|flag_own_car|  birthday|job_start_date| loan_date|       loan_amount|nb_previous_loans|avg_amount_loans_previous|age|
+-------+------------+----------+--------------+----------+------------------+-----------------+-------------------------+---+
|5008804|           Y|1988-11-04|    2009-04-11|2019-02-01|102.28336090329137|                0|                     null| 33|
|5008804|           Y|1988-11-04|    2009-04-11|2019-02-15|136.60204916713766|                1|       102.28336090329137| 33|
|5008804|           Y|1988-11-04|    2009-04-11|2019-02-17|114.73369384225273|                2|       119.44270503521452| 33|
|5008804|           Y|1988-11-04|    2009-04-11|2019-05-20|103.53905003353589|                3|        117.8730346375606| 33|
|5008804|           Y|1988-11-04|    2009-04-11|2019-07-05|112.94814667072303|                4|       114.28953848655442| 33|
|5008804|           Y|1988-11-04|    2009-04-11|2019-08-01|127.64208725607054|                5|       114.02126012338815| 33|
|5008804|           Y|1988-11-04|    2009-04-11|2019-10-28|104.99499695830349|                6|       116.29139797883522| 33|
|5008804|           Y|1988-11-04|    2009-04-11|2019-11-09|178.01606540287972|                7|       114.67762640447356| 33|
|5008804|           Y|1988-11-04|    2009-04-11|2019-12-02|170.21378601074449|                8|       122.59493127927432| 33|
|5008804|           Y|1988-11-04|    2009-04-11|2019-12-30|112.12568517865296|                9|       127.88591513832655| 33|
|5008804|           Y|1988-11-04|    2009-04-11|2020-04-20|134.90211697072857|               10|       126.30989214235919| 33|
|5008804|           Y|1988-11-04|    2009-04-11|2020-07-22| 205.3251668682443|               11|       127.09100349039277| 33|
|5008804|           Y|1988-11-04|    2009-04-11|2020-08-16|112.61106555002515|               12|       133.61051710521372| 33|
|5008804|           Y|1988-11-04|    2009-04-11|2020-09-28|106.16165141343872|               13|       131.99517467789153| 33|
|5008804|           Y|1988-11-04|    2009-04-11|2020-10-07|111.49664531369122|               14|        130.1499230161449| 33|
|5008804|           Y|1988-11-04|    2009-04-11|2020-12-26|126.17185526748997|               15|       128.90637116931464| 33|
+-------+------------+----------+--------------+----------+------------------+-----------------+-------------------------+---+

CPU times: user 37.3 ms, sys: 9.26 ms, total: 46.6 ms
Wall time: 6.72 s

**Feature age**

In [17]:
%%time
spark_df = spark_df.withColumn("age",F.floor(F.datediff(F.current_date(),F.col("birthday"))/F.lit(365)))

22/02/12 22:36:16 WARN TaskSetManager: Stage 35 contains a task of very large size (1689 KiB). The maximum recommended task size is 1000 KiB.

+-------+------------+----------+--------------+----------+------------------+-----------------+-------------------------+---+
|     id|flag_own_car|  birthday|job_start_date| loan_date|       loan_amount|nb_previous_loans|avg_amount_loans_previous|age|
+-------+------------+----------+--------------+----------+------------------+-----------------+-------------------------+---+
|5008804|           Y|1988-11-04|    2009-04-11|2019-02-01|102.28336090329137|                0|                     null| 33|
|5008804|           Y|1988-11-04|    2009-04-11|2019-02-15|136.60204916713766|                1|       102.28336090329137| 33|
|5008804|           Y|1988-11-04|    2009-04-11|2019-02-17|114.73369384225273|                2|       119.44270503521452| 33|
|5008804|           Y|1988-11-04|    2009-04-11|2019-05-20|103.53905003353589|                3|        117.8730346375606| 33|
|5008804|           Y|1988-11-04|    2009-04-11|2019-07-05|112.94814667072303|                4|       114.28953848655442| 33|
|5008804|           Y|1988-11-04|    2009-04-11|2019-08-01|127.64208725607054|                5|       114.02126012338815| 33|
|5008804|           Y|1988-11-04|    2009-04-11|2019-10-28|104.99499695830349|                6|       116.29139797883522| 33|
|5008804|           Y|1988-11-04|    2009-04-11|2019-11-09|178.01606540287972|                7|       114.67762640447356| 33|
|5008804|           Y|1988-11-04|    2009-04-11|2019-12-02|170.21378601074449|                8|       122.59493127927432| 33|
|5008804|           Y|1988-11-04|    2009-04-11|2019-12-30|112.12568517865296|                9|       127.88591513832655| 33|
|5008804|           Y|1988-11-04|    2009-04-11|2020-04-20|134.90211697072857|               10|       126.30989214235919| 33|
|5008804|           Y|1988-11-04|    2009-04-11|2020-07-22| 205.3251668682443|               11|       127.09100349039277| 33|
|5008804|           Y|1988-11-04|    2009-04-11|2020-08-16|112.61106555002515|               12|       133.61051710521372| 33|
|5008804|           Y|1988-11-04|    2009-04-11|2020-09-28|106.16165141343872|               13|       131.99517467789153| 33|
|5008804|           Y|1988-11-04|    2009-04-11|2020-10-07|111.49664531369122|               14|        130.1499230161449| 33|
|5008804|           Y|1988-11-04|    2009-04-11|2020-12-26|126.17185526748997|               15|       128.90637116931464| 33|
+-------+------------+----------+--------------+----------+------------------+-----------------+-------------------------+---+

**Feature years_on_the_job**

In [18]:
%%time
spark_df = spark_df.withColumn("years_on_the_job",F.floor(F.datediff(F.current_date(),F.col("job_start_date"))/F.lit(365)))

CPU times: user 2.91 ms, sys: 660 µs, total: 3.57 ms
Wall time: 107 ms

**Feature flag_own_car**

In [19]:
%%
spark_df = spark_df.withColumn('flag_own_car', F.when(spark_df['flag_own_car'] == 'N', 0).otherwise(1))

In [21]:
%%time
spark_df.filter("id = 5150479").select("*").show(20)

22/02/12 22:37:11 WARN TaskSetManager: Stage 38 contains a task of very large size (1689 KiB). The maximum recommended task size is 1000 KiB.

+-------+------------+----------+--------------+----------+------------------+-----------------+-------------------------+---+----------------+
|     id|flag_own_car|  birthday|job_start_date| loan_date|       loan_amount|nb_previous_loans|avg_amount_loans_previous|age|years_on_the_job|
+-------+------------+----------+--------------+----------+------------------+-----------------+-------------------------+---+----------------+
|5150479|           0|1987-09-22|    2021-05-12|2019-03-01|102.30940021783978|                0|                     null| 34|               0|
|5150479|           0|1987-09-22|    2021-05-12|2019-03-21|112.63284909681813|                1|       102.30940021783978| 34|               0|
|5150479|           0|1987-09-22|    2021-05-12|2019-05-03| 139.5850258127131|                2|       107.47112465732896| 34|               0|
|5150479|           0|1987-09-22|    2021-05-12|2019-05-19|126.35760048140841|                3|       118.17575837579034| 34|               0|
|5150479|           0|1987-09-22|    2021-05-12|2019-12-26|135.58692987524327|                4|       120.22121890219486| 34|               0|
|5150479|           0|1987-09-22|    2021-05-12|2020-04-21|163.24751570841167|                5|       123.29436109680455| 34|               0|
|5150479|           0|1987-09-22|    2021-05-12|2020-05-23|167.13764575236888|                6|       129.95322019873907| 34|               0|
|5150479|           0|1987-09-22|    2021-05-12|2020-06-04|108.02975645493143|                7|       135.26528099211478| 34|               0|
|5150479|           0|1987-09-22|    2021-05-12|2020-06-16|107.49919610236856|                8|       131.86084042496685| 34|               0|
+-------+------------+----------+--------------+----------+------------------+-----------------+-------------------------+---+----------------+

CPU times: user 36 ms, sys: 2.71 ms, total: 38.7 ms
Wall time: 6.59 s

In [22]:
df_processed = spark_df[['id', 'age', 'years_on_the_job', 'nb_previous_loans', 'avg_amount_loans_previous', 'flag_own_car']].toPandas()
df_processed

22/02/12 22:37:22 WARN TaskSetManager: Stage 41 contains a task of very large size (1689 KiB). The maximum recommended task size is 1000 KiB.

,id,age,years_on_the_job,nb_previous_loans,avg_amount_loans_previous,flag_own_car
0,5008804,33,12,0,NaN,1
1,5008804,33,12,1,102.283361,1
2,5008804,33,12,2,119.442705,1
3,5008804,33,12,3,117.873035,1
4,5008804,33,12,4,114.289538,1
...,...,...,...,...,...,...
777710,5150487,53,6,25,132.585287,1
777711,5150487,53,6,26,132.016323,1
777712,5150487,53,6,27,131.044545,1
777713,5150487,53,6,28,130.375785,1
777714,5150487,53,6,29,129.798262,1

In [24]:
df_processed.tail(30)

,id,age,years_on_the_job,nb_previous_loans,avg_amount_loans_previous,flag_own_car
777685,5150487,53,6,0,NaN,1
777686,5150487,53,6,1,180.240014,1
777687,5150487,53,6,2,142.768625,1
777688,5150487,53,6,3,142.266333,1
777689,5150487,53,6,4,132.696773,1
777690,5150487,53,6,5,132.678782,1
777691,5150487,53,6,6,128.287698,1
777692,5150487,53,6,7,125.588518,1
777693,5150487,53,6,8,127.939567,1
777694,5150487,53,6,9,135.007000,1
777695,5150487,53,6,10,133.062970,1
777696,5150487,53,6,11,134.643484,1
777697,5150487,53,6,12,136.268926,1
777698,5150487,53,6,13,134.114321,1
777699,5150487,53,6,14,135.093628,1
777700,5150487,53,6,15,133.360240,1
777701,5150487,53,6,16,131.417366,1
777702,5150487,53,6,17,133.112911,1
777703,5150487,53,6,18,135.623120,1
777704,5150487,53,6,19,133.834315,1
777705,5150487,53,6,20,139.313184,1
777706,5150487,53,6,21,137.496516,1
777707,5150487,53,6,22,136.144783,1
777708,5150487,53,6,23,134.913295,1
777709,5150487,53,6,24,133.936407,1
777710,5150487,53,6,25,132.585287,1
777711,5150487,53,6,26,132.016323,1
777712,5150487,53,6,27,131.044545,1
777713,5150487,53,6,28,130.375785,1
777714,5150487,53,6,29,129.798262,1

In [2]:
df = pd.read_csv('../resources/dataset_credit_risk.csv')

In [3]:
df.to_parquet('../resources/dataset_credit_risk.parquet')